@theme {
	--color-*: initial;
	--color-black: #000;
	--color-white: #fff;
	--color-neutral-50: oklch(0.985 0 0);
	--color-neutral-100: oklch(0.97 0 0);
	--color-neutral-200: oklch(0.922 0 0);
	--color-neutral-300: oklch(0.87 0 0);
	--color-neutral-400: oklch(0.708 0 0);
	--color-neutral-500: oklch(0.556 0 0);
	--color-neutral-600: oklch(0.439 0 0);
	--color-neutral-700: oklch(0.371 0 0);
	--color-neutral-800: oklch(0.269 0 0);
	--color-neutral-900: oklch(0.205 0 0);
	--color-neutral-950: oklch(0.145 0 0);
	--color-primary: #5d6842;
	--color-secondary: #C3752F;
	--color-tertiary: #5D4125;
	--color-winter: #00CCFF;
	--color-spring: #06ED77;
	--color-summer: #FFC50C;
	--color-fall: #FF5900;

	--font-heading: "Finger Paint", "sans-serif"; 
	--font-body: "Quicksand", "sans-serif"; 

	--default-font-family: var(--font-body);

	--login-bg: url("../../images/gate1.webp");
	--login-logo: url("../../images/favicon.png");
}

:root {
  --background: oklch(1 0 0);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
}

@source "../../../templates/*";
