# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/themes/twentytwenty*/
web/app/themes/*-dev
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

*.sql
web/app/themes/*/laravel/pint/builds/pint
web/app/themes/wildman-theme-prod/vendor2/laravel/pint/builds/pint