.wp-block-buttons {
    @apply mt-16;

    .wp-block-button {
        
    }

    .is-style-primary-button:not(.has-background) {
        .wp-block-button__link {
            background-color: var(--wp--preset--color--accent); 
            color: var(--wp--preset--color--white);

            &:hover { 
                background-color: hsl(from var(--wp--preset--color--accent) h s calc(l - 10)); 
                color: var(--wp--preset--color--white);
            }
        }
    }

    .is-style-secondary-button:not(.has-background) {
        .wp-block-button__link {
            background-color: var(--wp--preset--color--contrast); 
            color: var(--wp--preset--color--white);

            &:hover { 
                background-color: hsl(from var(--wp--preset--color--contrast) h s calc(l - 10)); 
                color: var(--wp--preset--color--white);
            }
        }
    }

    .is-style-cta-button:not(.has-background) {
        .wp-block-button__link {
            background-color: var(--wp--preset--color--season); 
            color: var(--wp--preset--color--white);

            &:hover { 
                background-color: hsl(from var(--wp--preset--color--season) h s calc(l - 10)); 
                color: var(--wp--preset--color--white);
            }
        }
    }

    .is-style-outline-button:not(.has-background) {
        .wp-block-button__link {
            background-color: transparent; 
            color: var(--wp--preset--color--grey);

            &:hover { 
                background-color: var(--wp--preset--color--grey); 
                color: var(--wp--preset--color--contrast);
            }
        }
    }
}