.wa-block-navigation-off-canvas-editor__header {
	flex-wrap: wrap;
}

/* Hide previous blocks from inspector as I can't figure out how to remove them */
.Xwa-block-navigation__menu-inspector-controls {
	.block-editor-list-view-leaf:not(.is-branch-selected), .block-editor-list-view-leaf.is-first-selected {
		display: none;
		visibility: hidden;
	}

	.block-editor-list-view-leaf[aria-level="6"] .block-editor-list-view__expander {
		margin-left: 0;
	}
}