/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-wa-page-title {
	display: flex;

	.wp-block-wa-page-title__inner-container {
		@apply mt-12 mb-6;
		display: flex;

		.title-content {
			@apply m-0;

			width: 100%;
		}
	}

	&.align-items-top {
		align-items:flex-start;
	}

	&.align-items-center {
		align-items:center;
	}

	&.align-items-bottom {
		align-items:flex-end;
	}

	&.align-left {
		text-align: left;
	}

	&.align-center {
		text-align: center;
	}

	&.align-right {
		text-align: right;
	}
}